body
{
    background-color:black;
    padding-left: 4in;
    padding-right: 4in;
    font-family:Arial, Helvetica, sans-serif;
}

div
{
    background-color: white;
    border-radius: 25px;
    padding: 20px;
    justify-content: center;
}

.flex-container
{
    display: flex;
    padding-left: 4cm;
    flex-direction: row;
    padding-bottom: 0px;
}

h1
{
    color: grey;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
output
{
    background-color: yellow
}

